body {
  background-color: #191414;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  border: 1px solid red;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.8em;
  line-height: 1.1;
  font-weight: 900;
  color: #1db954;
}

h2 {
  font-size: 2.4em;
  font-weight: 600;
  line-height: 0.6;
}

h3 {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.1;
}

h4 {
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.1;
}

ul {
  list-style: none;
  padding: 0;
  color: #c93c3a;
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid red 1px; */
}

.login img {
  width: 350px;
  /* margin-right: 1.5em; */
}

form {
  margin: 2em 0;
}

form input {
  width: 20em;
  padding: 1em;
  margin: 0.6em;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.btn-container {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  /* border: 1px solid red; */
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  border: 1px solid red;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px red solid;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 1em;
  width: 30em;
  /* border: 1px solid red; */
}

.logo img {
  width: 200px;
  /* border: 1px solid red; */
}

.logo-btn {
  padding-right: 1em;
}

.custom-btn {
  background-color: #1db954;
  border: none;
  border-radius: 32px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  width: 210px;
  height: 42px;
  cursor: pointer;
}

.custom-btn-2 {
  background-color: transparent;
  border: solid #1db954 1px;
  border-radius: 32px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  width: 210px;
  height: 42px;
  cursor: pointer;
}

.custom-link {
  color: #ffffff;
  text-decoration: none;
}
